/* Estilo do componente App */

.main{
  background-color: aquamarine;
  color: brown;
  width: 100%;
  height: auto;
}

.pageTitle{
  background-color: burlywood;
  color: beige;
  width: 100%;
  height: auto;
  padding: 1em 0.5em;
}

.myTitle{
  color:brown;
  border: dotted 1px red;
  border-radius: 15px;
  margin: 0 2em;
  padding:0.25em;
}

.tabelaGrupoSemaforico{
  width: 100%;
  height: auto;
  padding: 2em 0;
}

.headCell{
  background-color: darkgray;
  align-content: center;
}

.ta{
  width: 100%;
  height: 3em;
}

.tdCentralizado{
  align-content: center;
}
